@tailwind base;
@tailwind components;
@tailwind utilities;

.msg-success {
  @apply bg-green-300 text-green-900;
}
.msg-error {
  @apply bg-red-300 text-red-900;
}

.msg-alert {
  @apply bg-yellow-300 text-red-900;
}

.msg-notice {
  @apply bg-blue-300 text-red-900;
}

/* CSS for the navbar */

/* starts hamburger menu: changes the three lines to "X" */
.navbar-burger span {
  display: block;
  background-color: #334155;
  height: 2px;
  width: 18px;
  margin: 4px auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* ends hamburger menu: changes the three lines to "X" */
